<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="HotelBookingServiceSoap" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:52829/HotelBookingService.asmx"
                binding="basicHttpBinding" bindingConfiguration="HotelBookingServiceSoap"
                contract="HotelBookingServiceReference.HotelBookingServiceSoap"
                name="HotelBookingServiceSoap" />
        </client>
    </system.serviceModel>
</configuration>